@model worbench.Models.Customer

@{
    ViewData["Title"] = "Usuń klienta";
}

<h1>Usuń klienta</h1>

<h3>Czy na pewno chcesz usunąć tego klienta?</h3>
<div>
    <h4>Klient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Imię
        </dt>
        <dd class = "col-sm-10">
            @Model.FirstName
        </dd>
        <dt class = "col-sm-2">
            Nazwisko
        </dt>
        <dd class = "col-sm-10">
            @Model.LastName
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Model.Email
        </dd>
        <dt class = "col-sm-2">
            Telefon
        </dt>
        <dd class = "col-sm-10">
            @Model.Phone
        </dd>
        <dt class = "col-sm-2">
            Adres
        </dt>
        <dd class = "col-sm-10">
            @Model.Address
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Powrót</a>
    </form>
</div> 