@model worbench.Models.Customer

@{
    ViewData["Title"] = "Szczegóły klienta";
}

<h1>Szczegóły klienta</h1>

<div>
    <h4>Klient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Imię
        </dt>
        <dd class = "col-sm-10">
            @Model.FirstName
        </dd>
        <dt class = "col-sm-2">
            Nazwisko
        </dt>
        <dd class = "col-sm-10">
            @Model.LastName
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Model.Email
        </dd>
        <dt class = "col-sm-2">
            Telefon
        </dt>
        <dd class = "col-sm-10">
            @Model.Phone
        </dd>
        <dt class = "col-sm-2">
            Adres
        </dt>
        <dd class = "col-sm-10">
            @Model.Address
        </dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edytuj</a>
    <a asp-action="Index" class="btn btn-secondary">Powrót</a>
</div> 